<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header id="nav_header">
        <nav id="main_nav">
            <a href="/">Home</a>
            <a href="weather">Weather app</a>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>