{% extends "base.html" %}

{% block head %}
<title>Document</title>
{% endblock %}

{% block body %}

<!-- weather root on weather-osion pohja -->
<div id="weather_root">

    <!-- weather_summary_field on primary weather-widgetti -->
    <div id="weather_summary_field_container">

        <!-- yläosa (kaupungin nimi, hakukenttä) -->
        <div id="weather_upper_part_container">
            <h2 id="city_name">Hyvinkää</h2>
            <span id="weather_search_root">
                <input id="weather_search_field" type="text" placeholder="Hae kaupunkia...">
                <button id="search_weather_button" onclick="searchWeather()">Search</button>
            </span>
        </div>

        <!-- keskikohta (kuva, lämpötila, sää) -->
        <div id="weather_middle_part_container">
            <img id="weather_img" src="../static/img/placeholder_weather_img.png" alt="placeholder">
            <div id="weather_details">
                <h1 id="current_temperature">16 °C</h1>
                <h2 id="current_weather_name">Puolipilvistä</h2>
            </div>
        </div>

        <!-- widgetin pohja (tuuli, kosteus)-->
        <div id="weather_bottom_part_container">
            <span id="wind_speed_tag">Tuulennopeus: </span><span id="current_wind">6,4</span><span id="units_tag"> m/s</span>
            <span id="wind_humidity_tag">Kosteus: </span><span id="current_humidity">72</span><span id="percents_tag">%</span>
        </div>
    </div>
</div>
{% endblock %}