{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='scripting/weather.js') }}"></script>
<title>Document</title>
{% endblock %}

{% block body %}

<!-- weather root on weather-osion pohja -->
<div id="weather_root">

    <div id="widget_root">
    <img id="weather_bg_img" src="{{ url_for('static', filename='img/wth/bg/placeholder.png') }}">
    <!-- weather_summary_field on primary weather-widgetti -->
    <div id="weather_summary_field_container">

            <!-- yläosa (kaupungin nimi, hakukenttä) -->
            <div id="weather_upper_part_container">
                <span id="city_name">&nbsp;</span>
                <span id="weather_search_root">
                    <input id="weather_search_field" type="text" placeholder="Hae kaupunkia...">
                    <img id="search_weather_button" onclick="searchWeather()" src="{{ url_for('static', filename='img/search_icon.png') }}">
                </span>
            </div>

            <!-- keskikohta (kuva, lämpötila, sää) -->
            <div id="weather_middle_part_container">
                <img id="weather_img" alt="placeholder">
                <div id="weather_details">
                    <span id="current_temperature">&nbsp;</span>
                    <span id="current_weather_name">&nbsp;</span>
                </div>
            </div>

            <!-- widgetin pohja (tuuli, kosteus)-->
            <div id="weather_bottom_part_container">
                <span id="wind_speed_tag">Tuulennopeus: </span><span id="current_wind"></span>&nbsp;<span id="units_tag"> m/s</span>
                <span id="wind_humidity_tag">Kosteus: </span><span id="current_humidity"></span>&nbsp;<span id="percents_tag">%</span>
            </div>

    </div>

        <!-- "Hakutuloksia ei löytynyt"-container -->
        <div id="results_not_found_container">
            <span id="results_not_found_tag">Haullasi ei löytynyt kaupunkia</span>
        </div>

    </div>
</div>
{% endblock %}